/*f9f7f7
dbe2ef
3f72af
112d4e*/

a.hidden{
  position: relative;
  left: -2000px;
}
a.hidden:focus{
  position: static;
}

.intro{
  background-image: url("../images/cityscape.jpg");
  background-size: cover;
  line-height: auto;
}

.about{

}

.experience{


}

.coursework{


}

.justforfun{


}

